
.icon-mail:before { content: '\e800'; } /* '' */
.icon-shape-1-copy-2:before { content: '\e801'; } /* '' */
.icon-shape-2:before { content: '\e802'; } /* '' */
.icon-shape-3:before { content: '\e803'; } /* '' */
.icon-word:before { content: '\e804'; } /* '' */
.icon-forma-1:before { content: '\e805'; } /* '' */
.icon-vk:before { content: '\e806'; } /* '' */
.icon-shape-1:before { content: '\e807'; } /* '' */
.icon-facebook:before { content: '\e808'; } /* '' */
.icon-youtub:before { content: '\e809'; } /* '' */
.icon-youtub2:before { content: '\e80a'; } /* '' */
.icon-vk-1:before { content: '\e80b'; } /* '' */
.icon-insta:before { content: '\e80d'; } /* '' */
.icon-iconseti:before { content: '\e80e'; } /* '' */